<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:overrideLibrary="androidx.health.connect.client" >

<!--    <uses-sdk tools:overrideLibrary="com.google.android.gms.common, androidx.appcompat.resources, com.google.android.gms.tasks, com.google.android.gms.base, com.google.android.gms.wearable, androidx.health.connect.client"/> -->
   <uses-sdk tools:overrideLibrary="androidx.startup,androidx.health.connect.client,com.garmin.android.connectiq"/>



<!-- s/^[	 ]*\(.*\)[	 ]*$/<uses-permission android:name="\1"\/>/g -->
<uses-permission android:name="android.permission.health.WRITE_BLOOD_GLUCOSE"/>
<uses-feature android:name="android.hardware.type.automotive" android:required="false" />

<queries>
    <package android:name="com.google.android.apps.healthdata" />
</queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="com.librelink.app.ThirdPartyIntegration.GLUCOSE_READING" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="com.librelink.app.ThirdPartyIntegration.SENSOR_ACTIVATE" />
        </intent>
    </queries>
    <queries>
        <package android:name="com.garmin.android.apps.connectmobile" />
    </queries>


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <application
        android:name=".Applic"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".GlucoseWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glucose_widget_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="reverseLandscape"
	    >
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>

        </activity>
  <activity-alias
      android:name="ViewPermissionUsageActivity"
      android:exported="true"
      android:targetActivity=".MainActivity"
      android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
    <intent-filter>
      <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
      <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
    </intent-filter>
  </activity-alias>

        <service
            android:name=".MessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:host="*" android:pathPrefix="/data" android:scheme="wear" />
                <data android:host="*" android:pathPrefix="/messages" android:scheme="wear" />
                <data android:host="*" android:pathPrefix="/netinfo" android:scheme="wear" />
                <data android:host="*" android:pathPrefix="/wake" android:scheme="wear" />
                <data android:host="*" android:pathPrefix="/wakestream" android:scheme="wear" />
            </intent-filter>
        </service>


    </application>

</manifest>
