<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"  >
    <application android:name="tk.glucodata.Applic"
        android:icon="@mipmap/ic_launcher"
        >
    <meta-data
      android:name="com.google.mlkit.vision.DEPENDENCIES"
      android:value="barcode_ui"/>
    </application>
</manifest>
